body {
	font-family: 'Public Sans', sans-serif;
	color: #bbb;
	background-color: #202020;
	text-align: justify;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

h2 {
	margin-top: 2rem;
}

.header {
	margin-bottom: 0rem;
}

.header-contents {
	padding: 3rem;
	padding-left: 0rem;
}

.simplelink {
	color: #ddd;
}

.backgroundlink {
	color: #bbb;
}

.index-contents {
	padding-left: 0px;
}

.blog-intro {
	margin-bottom: 1em;
	padding: 2rem;
}

.blog-contents {
	padding: 2rem;
	margin-bottom: 2rem;
	border-left-width: 2px;
	border-left-color: #444;
	border-left-style: solid;
	background-color: #242424;
}

.footer {
	margin-top: 0rem;
}

.footer-contents {
	padding: rem;
}

div.sidebar {
	padding-top: 2rem;
	padding-left: 40px;
	padding-right: 0;
}

ul.sidebar {
	padding: 0;
}

li.sidebar {
	text-align: left;
}

li.sidebar:before {
	margin-left: -20px;
	margin-right: 10px;
}

code {
	color:  #ccc;
	font-weight: bold;
}

blockquote {
	padding: 1rem;
	padding-bottom: 0.2rem;
	border-left-width: 2px;
	border-left-color: #444;
	border-left-style: solid;
	background-color: #242424;
}

table, th, td {
	border: 1px solid;
}

th, td {
	padding-left: .3rem;
	padding-right: .3rem;
	text-align: left;
}

th {
	background-color: #444;
}

table {
	margin-bottom: 1rem;
}

.language-Step, .language-NDScript {
	border: 1px solid #888;
}

.hljs-title {
	font-weight: bold;
}